h1.r2013b {
    padding-right: 61px;
    margin-bottom: 20px;
    background: transparent url(../images/nextgen/doc_center/bg_h1_r2013b.png) no-repeat right bottom;
    border-bottom: 1px solid #cbcbcb;
}